<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
</head>
<body>
    <h1>Agendar Serviço(s)</h1>
    <form action="" method="post">
        <input type="checkbox" name="servico" id="1">
        <label for="servico">corte simples</label><br>

        <input type="checkbox" name="corte_degrade" id="2">
        <label for="corte_degrade">corte degradê</label><br>

        <input type="checkbox" name="barba" id="3">
        <label for="barba">barba</label><br><br>

        <label for="data">Data</label><br>
        <input type="date" name="data" id="data"><br><br>

        <label for="hora">Hora</label><br>  
        <input type="time" name="hora" id="hora"><br><br>

        <input type="submit" value="Agendar">
        
    </form>
</body>
</html>